@media only screen and (min-width: 990px) {
  .background {
    text-align: center;
    visibility: collapse;
  }
  body {
    background-image: url("asters.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
  }
  h1 {
    font-weight: 100;
    padding-top: 130px;
    font-size: 50px;
    color: white;
    font-family: Arial, sans-serif;
    padding-bottom: 70px;
    z-index: 1;
    position: relative;
  }
  h3 {
    font-weight: 250;
    font-size: 40px;
    padding-top: -40px;
    margin-bottom: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 1;
    position: relative;
  }
  p {
    font-size: 20px;
    line-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 50px;
    border-radius: 30px;
    background-color: white;
    font-family: Arial, sans-serif;
    z-index: 1;
    position: relative;
  }
  .article-link, .button-link {
    text-align: center;
    color: forestgreen;
    text-decoration: none;
  }
  a:active {
    color: green;
  }
  a:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 989px) {
  body {
    text-align: center;
  }
  .background {
    position: fixed;
    background-image: url("mobile-background.png");
    top: 0;
    left: 0;
    width: 140%;
    z-index: 0;
  }
  h1 {
    font-weight: 100;
    padding-top: 130px;
    font-size: 140px;
    color: white;
    font-family: Arial, sans-serif;
    padding-bottom: 70px;
    z-index: 1;
    position: relative;
  }
  h3 {
    font-weight: 250;
    font-size: 50px;
    padding-top: -40px;
    margin-bottom: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 1;
    position: relative;
  }

  p {
    font-size: 45px;
    line-height: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 150px;
    border-radius: 30px;
    background-color: white;
    font-family: Arial, sans-serif;
    z-index: 1;
    position: relative;
  }
  .btn {
     margin-right: 28%;
    margin-left: 28%;
    }
  .article-link, .button-link  {
    text-align: center;
    color: forestgreen;
    text-decoration: none;
  }
  a:active {
    color: green;
  }
}

.small-info{
    font-size:9px;
    padding-bottom:1px;
   text-align: left;
}
div.sticky {
        padding-top: 1px;
  position: sticky;
  bottom: 0;
    left:0;
    font-size:9px;
    text-align: left;
  color:white;
}


